# Common
node_modules
.env
.env.*
!.env.example
.DS_Store
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
.*.swp
.lock-wscript
coverage
.nyc_output
.turbo

# Foundry/Web3 specific
cache/
out/
broadcast/
artifacts/
forge-cache/
.deps
.openzeppelin
deployments/localhost
typechain
typechain-types

# Generated sources
.gas-snapshot
**/flattened/*.sol
soljson-*.js
**/abi/@*
**/abi/build-info
**/abi/interfaces
**/lcov.info

# Next.js specific
.next/
.vercel
out/
build/
dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.webpack/
next-env.d.ts
public/sitemap*.xml
public/feed.xml
public/robots.txt
.contentlayer
.eslintcache
storybook-static

# NestJS specific
dist/
node_modules/
build/
/uploads
/public
combined.log
error.log
.eslintrc.js
.prettierrc
.vscode
nest-cli.json
ormconfig.json
tsconfig.build.json